<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        Welcome {{companyname}}
        <form method="POST" action="">
            Car Name<input type="text" name="carname" id="carname" required>
            Price per day<input type="number" name="price_per_day" id="price_per_day" required>
            Number of cars to add/remove<input type="number" name="limit" id="limit" required>
            <input type="submit" value="submit">

            <a href="{{ url_for('company_cars',company_id=company_id) }}"> View your collection</a>
            <a href="{{ url_for('bookings',company_id=company_id) }}">View reservations for your company</a>
            <a href="/">logout</a>
        </form>
    </body>
</html>