<html>
    <head>
        <title>Welcome</title>
    </head>
    <body>
        Welcome {{companyname}}
        <form method="POST" action="">
            Car Name<input type="text" name="carname" id="carname" required>
            Price per day<input type="number" name="price_per_day" id="price_per_day" required>
            Number of cars to add/remove<input type="number" name="limit" id="limit" required>
            Select action:
            <select id="action" name="action" required>
                <option value="add">Add car</option>
                <option value="remove">Remove car</option>
            </select>

            <input type="submit" value="submit">
        </form>
    </body>
</html>