<html>
    <head>
        <title>register company</title>
    </head>
    <body>
        <form method="POST" action="/register/company">
            Name: <input type="text" name="name" id="name" required>
            Password: <input type="text" name="password" id="password" required>
            Contact: <input type="text" name="contact" id="contact" required>
            Location(street,city): <input type="text" name="location" id="location" required>
            <input type="submit" value="submit">
        </form>
    </body>
</html>