<html>
    <head>
        <title>register user</title>
    </head>
    <body>
        <form method="POST" action="/register/user">
            Username: <input type="text" name="cusername" id="cusername" required>
            Password: <input type="text" name="cpassword" id="cpassword" required>
            First name: <input type="text" name="fname" id="fname" required>
            Last name: <input type="text" name="lname" id="lname" required>
            Contact: <input type="text" name="contact" id="contact" required>
            <input type="submit" value="submit">
        </form>
    </body>
</html>