<html>
    <head>
        <title>User {{ customer_id }}</title>
    </head>
    <body>
        Welcome {{ username }}
        <form action="{{ url_for('customerpage', customername=username, customer_id=customer_id) }}" method="POST">
            View available cars in your location:
            Location(city)<input type="text" id="location" name="location" required>
            <input type="submit" value="submit">
        </form>
        <a href="{{ url_for('reserve', customername=username, customer_id=customer_id) }}">Book a car:</a>
        <a href="{{ url_for('user_history',customername=username,customer_id=customer_id) }}">view history</a>
        <a href="/">logout</a>
    </body>
</html>